/*MoviesCatalogue*/
.movie-cover {
  width: 200px;
  height: 300px;
  margin: auto;
}
.movie-synopsis {
  text-align: justify;
}
h5 {
  font-weight: bold;
}

/*Main Components*/
a{
	color: #002a56;
}
span {
  color:#002a56;
  font-weight: bold;
}
#main {
  width: 900px;
  margin: auto;
  border-left: black 7px double;
  border-right: black 7px double;
  font-size: 0.875em;
}

#header {
  height: 171px;
  margin-bottom: -8px;
}
.fleft {
  float: left;
}
#header .row-1 {
  width: 100%;
  overflow: hidden;
}
#header .row-1 .fleft {
  font-size: 60px;
  line-height: 1.2em;
  padding: 26px 0 0 20px;
  padding-left: 150px;
}
#header .row-1 .fleft a {
  text-decoration: none;
}
#header .row-1 ul {
  padding: 49px 60px 0 0;
  float: right;
}
#header .row-1 ul li {
  float: left;
  padding-left: 54px;
}
#header .row-2 {
  height: 51px;
}
#header .row-2 ul {
  width: 100%;
  overflow: hidden;
}
#header .row-2 ul li {
  float: left;
  font-size: 20px;
  line-height: 2.4em;
  margin-right: 3px;
  background-color: #002a56;
  list-style:none;
}
#header .row-2 ul li.last {
  margin-right: 0;
}
#header .row-2 ul li a {
  text-decoration: none;
  color: white;
  width: 200px;
  height: 50px;
  float: left;
  background-repeat: no-repeat;
  background-position: 0 0;
  text-align: center;
}
#header .row-2 ul li a:hover,
#header .row-2 ul li a.active {
    color: #6493ad;
}
.navbar{
  padding-bottom: 30px;
}
.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
  cursor: pointer;
  font-size: 15px;
}
.btn-secondary {
  color: #fff;
  background-color: #002a56;
  border-color: #ffffff;
  padding: 0px;
  margin-right: 5px;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #1458a2a6;
  border-color: #ffffff;
}
.flex-button{
  margin-right: -1px;
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding: 3px;
}
.h-100 {
  height: 100%!important;
  margin-top: 150px;
}

.video-react-player{
  margin-left: 4cm;
  height: 7cm;
  width: 15cm;
  margin-bottom:1cm;
}

.inside-rooms{
  margin-top: 1cm;
  margin-bottom: 0.5cm;
  color: #002a56;
}
/*LoginComponent*/
.card {
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.5) !important;
}
.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}
.card-header h3 {
  color: white;
}
.card-footer a {
	margin-left: 10px;
	color: #002a56;
  }
.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  margin-bottom: 10px;
}
.input-group-prepend span {
  width: 50px;
  background-color: #002a56;
  color: black;
  border: 0 !important;
}
.login_btn {
  color: white;
  background-color: #002a56;
  width: 100px;
}
.links {
  color: white;
}
/*RegisterComponent*/
.cardRegister {
  height: 650px;
  margin-top: 60px;
  margin-bottom: auto;
  width: 500px;
  background-color: rgba(0, 0, 0, 0.5) !important;
}
.card-header h3 {
  color: white;
}
.card-footerRegister a {
	margin-left: 10px;
	color: #002a56;
  }
.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  margin-bottom: 10px;
}
.combobox{
  font: bold;
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding-left: 10px;
  font-size: 1rem;
  font-weight: 800;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}
.input-group-prepend span {
  width: 50px;
  background-color: #002a56;
  color: black;
  border: 0 !important;
}
.login_btn {
  color: white;
  background-color: #002a56;
  width: 100px;
}
.links-access {
  color: blue;
  text-decoration: underline blue;
  cursor: pointer;
}
.btn:hover{
  color: #fff; 
  background-color: #1458a2a6;
  border-color: #ffffff;
}

/*PaymentComponent*/
.payment-method{
  background: rgba(0, 0, 0, 0.5);
}

/*AboutUsComponent*/

.phase{
 text-align: center;
 margin-left: 200px;
 margin-right: 200px;
}
.inside-phase{
  margin-left: 20px;
}
.phase-content{
font-size: 15px;
margin: 50px;
text-align: justify;
}
/*ReserveComponents*/
.chairs{
  width:35px;
  height:30px;
  text-align: center;
  cursor: pointer;
  
}